<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="abhi"routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light"id="abhi1"routerLink="/about">About </a>
        <a class="nav-item nav-link text-light"id="abhi2" routerLink="/help">Help</a>
        <a class="nav-item nav-link text-light" id="abhi3"routerLink="/login">Login</a>
        <a class="nav-item nav-link text-light" id="abhi8"routerLink="/register" >Register</a>
        <a class="nav-item nav-link text-light" id="abhi9"routerLink="/property-binding" >Property Binding</a>
      </div>
    </div>
  </nav>
  